.button
    background: $main-grd
    padding: 1rem 2rem
    border-radius: 100px
    color: $white    
    white-space: nowrap
    cursor: pointer
    &:hover,
    &:focus,
    &:visited
        text-decoration: none
        color: $white

.button--light
    background: none !important
    border: 1px solid $white

button
    border: none

@include media-breakpoint-up(md)
    .button
        background: $main-grd
        padding: 1rem 3rem