.cabecera    
    width: 100%
    background: rgba(#212226,.3)
    border-bottom: 1px solid rgba($white,.2)
    margin-bottom: 1.5rem    

// Navegacion
.active
    position: relative
    &:after
        content: ''
        display: block
        background: $main-grd
        height: 6px
        width: 47px
        border-radius: 100px
        position: absolute
        bottom: -5px
        left: 5px

.navbar-toggler
    border: none
    outline: none

.navbar-dark
    .navbar-nav
        .nav-link    
            color: rgba($white,1)

// Idioma
.extras    
    a        
        display: inline-block
        border: 1px solid rgba($white,.3)
        padding: .5rem        
        color: $white
        // &:first-child
        //     border-right: none
        &:hover
            // background: $main-grd
            border: 1px solid rgba($white,1)
            text-decoration: none
        &:hover,
        &:focus,
        &:visited
            text-decoration: none
            color: $white
        &.light
            border: none

@include media-breakpoint-up(md)
    .cabecera
        margin-bottom: 6rem