.medios
    font-weight: 700

.contact-form
    max-width: 800px
    margin: 0 auto       

.policy
    font-size: .75rem
    opacity: .5

.errors
    color: red

input[type=text],
input[type=email],
input[type=password],
textarea
    padding: 1.5rem

.form-control-lg
    font-size: 1rem