.card-extra-title    
    font-size: .7rem    
    text-transform: uppercase
    font-weight: bold    
.card
    border: 1px solid rgba(#eee,1)
    box-shadow: 0px 0px 10px rgba(#000000,.07)
.card-category
    background: $main-grd
    color: $white
    font-size: 0.6875rem
    padding: 0.2rem 1rem
    border-radius: 1rem
    color: $white !important
.card-title
    font-size: 1.125rem
    font-weight: 700
.card-text
    font-size: 0.875rem
.card-date
    font-size: 0.6875rem
    opacity: .5

.noticia
    border-bottom: 1px solid #eee


@include media-breakpoint-up(md)